/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import "tailwindcss";

a {
  text-decoration: none;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-animated-bg {
  background: linear-gradient(270deg, #0f0c29, #302b63, #24243e);
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;
}

.perspective {
  perspective: 1000px;
}

.flip-hover {
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.flip-hover:hover {
  transform: rotateY(180deg);
}

.flip-card {
  perspective: 1000px;
  width: 40px;
  height: 40px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 9999px;
  overflow: hidden;
  border: 2px solid #14b8a6; /* teal-500 */
  object-fit: cover;
}

.flip-back {
  transform: rotateY(180deg);
}
